@charset "UTF-8";


body{
    background-color: rgb(72, 130, 255);
    font: normal 1.2em Arial;
    position: relative;
    height: 97vh;
    margin: 0px;
    padding: 0px;
}

h1{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.527);

}

section{
    position: absolute;
    background-color: white;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);
    margin: 10px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}


footer{
    position: absolute;
    left: 50%;
    top: 55%;

    transform: translateX(-50%);
    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.527);
    font-style: italic;
}
